.buttondiv {
    text-align: center;
    padding: 10%;
    background-color: #e7e7e76b;
}

.wrapper {

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {

    width: 300px;
    height: 60px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.button span {
    position: relative;
    z-index: 2;
}

.button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #040c4e;
    transition: all .35s;
}

.button:hover {
    color: #fff;
}

.button:hover:after {
    width: 100%;
}