.post {
    justify-content: center;
    padding: 2rem 1rem;

    height: 50%;
    width: 50%;
    background-color: rgb(234, 234, 234);

}

.post2 {
    margin-top: 20px;
}

.postDiv {
    display: flex;
    margin: 40px;
    flex-direction: inherit;
    align-items: center;
    background-color: rgba(225, 225, 225, 0.785);


}

.postImg {
    height: 10%;
    width: 50%;
    position: relative;

    transform: translate (-50%, -50%);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
.postImg:hover{
    scale: 2%;
    transform:rotateX(90deg) translateY(50%)
}
.postImg img {
    height: 10%;
    width: 50%;
    position: inherit;

    transform: translate (-50%, -50%);
    padding: 10px;
    background-color: blanchedalmond;
    align-items: center;
}

.postContain img {
    justify-content: center;
}

.postContain button {
    justify-content: center;
    text-align: center;
}

.postDiv3 {
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 8%;
    align-items: center;
}

.postDiv2 {

    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    align-items: center;

}

.PostContain {
    height: 100%;
    width: 80%;
    border: 15%;
    align-self: center;
    align-content: center;
}

.postDiv label {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: black;
    position: relative;
    border-radius: 5px;
    text-decoration: solid;
    display: block;
    padding: 10px;

}

.postDiv2 h5{
   margin-left: 5%;
   font-family: 'Times New Roman', Times, serif;
}

label span {
    color: green;
}

.content {
    color: rgb(98, 98, 98);
    display: block;
    padding: 10px;
}

.image-preview__image {
    flex-wrap: wrap;
    width: 200px;
    height: 500x;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.previewimg {
    height: 100%;
    width: 100%;
}


.fileupload {
    padding-left: 5%;
    ;
    padding-bottom: 5%;

}

.nav {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    flex-grow: calc(12);

}